.ic-stuff_container
{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    ul.list{
        margin: 0;
        padding: 0;
    }

    button.btn_next{
        cursor: pointer;
        width: 200px;
        height: 35px;
        background-color: burlywood;
        border-radius: 5px;
        border:0px transparent;
    }
    .btn_next:hover
    {
        opacity: 0.8;
    }
}
