<html>
    <head>
    <title>IfCase Test</title>    
    </head>
    <h1>Мой магазин '{{title}}'</h1>        
    <ul>
        {{#each stuff}}
          {{> stuffListItem this}}
        {{/each}}
    </ul>
    {{> footer}}
</html>
  