<html>
    <head>
    <title>IfCase Test</title>    
    </head>
    <h1>Список товаров</h1>      
    <a href="/stuff/newitem">Создать новый</a>
    <ul>
        {{#each stuffs}}
          {{> stuffListItem this}}
        {{/each}}
    </ul>
    {{> footer}}
</html>
  