  
  <div class="ic-stuff-list_item {{#if exist}}exist{{/if}}">
      <h5>{{this.name}} : {{this.price}} руб.</h5>      
      <p>{{this.desc}}</p>
      <a href="/stuff/item{{this.id}}" >Открыть</a>
  </div>  